/* Header section start */

.header-container {
    width: 100%;
	height: 22vh;
    margin: 0;
    background-color: #d24d57;
    position: relative
}

.header_text {
    width: 15%;
    height: 45%;
    margin-left: 42.5%;
    margin-right: 42.5%;
    margin-top: 2.5%;
    position: relative;
}

.sec_left {
    width: 27%
}

.sec_center {
    width: 50%;
    position: relative
}

.sec_right {
    width: 23%;
    position: relative
}


/* Header section End */

/* Login section start */

.login-section {
    height: 48vh;
    margin: 10vh;
}

.wrapper {	
	
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

.form-signin-heading, .checkbox {
  margin-bottom: 30px;
}

.checkbox {
  font-weight: normal;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin: 2%;
}

.btn-primary {
	margin: 2%;
	background-color: #d24d57;
}

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Login section end */


/* Custom checklist center section start*/

.checklist-section{
	display:none;
	
}

.custom-checklist-container {
    margin: 1%;
    position: relative;
}

.checklist-center-section {
    width: 50%;
    background-color: white;
    float: left;
    height: auto;
    position: relative;
    margin: 1%;
}

.icon-class {
    float: right;
}

.checklist-left-panel-section {
    width: 23%;
    position: relative;
    float: left;
}

.checklist-right-section {
    height: 552px;
    #background-color: #87877e;
    float: left;
    position: relative;
    width : 18%
}

a {
    text-decoration: none;
    display: block;
    padding: 18px 8px 18px 0;
    color: #4e2a84;
}

.list-group-item {
    height: 70px;
    line-height: 300%;
}

.row {
    margin: 3%;
}

.new-checklist-section {
    text-align: right;
    margin: 1% 5% 0 0
}

.existing-checklist {}

iframe[seamless] {
    border: none;
    width: 140%;
    height: 552px;
}


/* Custom checklist center section End*/


/* Footer section Start*/

.footer-container {
    position: relative;
    background-color: #d24d57;
    height: 10vh;
}

.footer-img {
    margin: 0 auto;
    display: block;
    width: 3%;
}

.down-arrow-image-section {
    #margin: 20px;
    display: inline;
}

.up-arrow-image-section {
    display: none;
    # margin: 20px;
}

.global-search-section {
    #display: none;
}


/* Footer section End*/


/* Global search section Start*/

.accordion {
    width: 100%;
    margin: 0%;
}

.accordion h1,
h2,
h3,
h4 {
    cursor: pointer;
    margin: 0%
}

.accordion h2,
h3,
h4 {
    #font-family: "News Cycle";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.accordion h1 {
    padding: 15px 20px;
    background-color: #DFD7D7;
    #font-family: Lobster;
    font-size: 1.2rem;
    font-weight: normal;
    #color: #1abc9c;
}

.accordion h1:hover {
    color: #bab0ad;
}

.accordion h1:first-child {
    #border-radius: 10px 10px 0 0;
}

.accordion h1:last-of-type {
    # border-radius: 0 0 10px 10px;
}

.accordion h1:not(:last-of-type) {
    border-bottom: 1px solid;
}

.accordion div,
.accordion p {
    display: none;
}

.accordion h2 {
    padding: 5px 25px;
    background-color: #A7CDD5;
    font-size: 1.1rem;
    color: #333;
}

.accordion h2:hover {
    background-color: #09ab8b;
}

.accordion h3 {
    padding: 5px 30px;
    background-color: #b94152;
    font-size: .9rem;
    color: #ddd;
}

.accordion h3:hover {
    background-color: #a93142;
}

.accordion h4 {
    padding: 5px 35px;
    background-color: #ffc25a;
    font-size: .9rem;
    color: #af720a;
}

.accordion h4:hover {
    background-color: #e0b040;
}

.accordion p {
    padding: 15px 35px;
    background-color: #ddd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    #font-family: "Georgia";
    #font-size: .8rem;
    color: #333;
    line-height: 1.3rem;
}

.accordion li {
    padding: 15px 35px;
    background-color: #ddd;
    #font-family: "Georgia";
    #font-size: .8rem;
    color: #333;
    line-height: 1.3rem;
    border: outset;
    border-width: 1px
}

.accordion .category {
    display: block;
}

.category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*overriding default bootstrap*/

.panel-default {
    border: 1px solid #D24D57;
    border-radius: 0;
}

.panel-default > .panel-heading {
    color: #ffffff;
    background-color: #E26A6A;
    border-radius: 0;
}


/* Global search section End*/