.global-search-container{
	background-color:#CFCECD;
	position: relative;
	height: auto;	
}

.global-search-header-section{
	display: block;
	position: relative;
	text-align:center;
	height: 30px;
	vertical-align:middle;
	padding: 20px 0 20px 0;
}

#accordion{
	width:100%;
}
	
#accordion p, #accordion h4, #accordion div{	
	margin:0;
	padding:0;
	list-style:circle;
}
#accordion div{
	display:none;
	color:#555;
	overflow:hidden;
}
#accordion p{
	background-color: #aaa9a8;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    margin-top: 5px;
    padding: 5px;
	font-size:18px;
}

#accordion h4{
	cursor:pointer;
	padding:5px;
	color: #666;
	margin-left: 20px;
}
#accordion h4:hover{
	color:#000;
}
#accordion h4 + div{
	background-color:#F5F5F5;
	padding:5px 5px 5px 30px;
}
#accordion li:hover{
	color:#000;
	cursor:pointer;
}